body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
  background-color: blue;
  border-style: solid;
  border-color: #98bf21;
  border-width: 30px;
  text-align: center;

}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

